.buttons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

@media screen and (max-width: 800px) {
  .buttons {
    grid-template-columns: 1fr;
    margin: 30px;
  }
}

.buttons__button {
  cursor: pointer;
  background: none;
  border: none;
  color: #007382;
  transition: 1s;
}

.buttons__button:hover {
  color: #00b4cc;
}

.buttons__button:active {
  color: #33e7ff;
}

.buttons__button:disabled {
  color: grey;
  cursor: default;
}